<!-- views/partials/event-card.ejs -->
<div class="box event-card <%= event.is_special ? 'event-card--special' : '' %>">
    <h1 class="title is-6 "><%= event.name %></h1>
    <div class="level">
        <div class="level-left">
            <span class="tag is-primary event-card__special-alert">
                Special Event
            </span>
            <h3 class="subtitle is-7 has-text-grey is-uppercase">
                <%= event.formatted_starttime %> at <%= event.venue.name %>
            </h3>
        </div>
        <div class="level-right">
            <h3 class="subtitle is-7">
                <a href="<%= event.link %>">
                    <% if (event.rsvpable) { %>
                    Sign up now!
                    <% } else { %>
                    View on Meetup
                    <% } %>
                </a>
            </h3>
        </div>
    </div>
</div>
