<!-- views/partials/event-card.ejs -->
<div class="box level event-card <%= event.isSpecial ? 'event-card--special' : '' %>">
    <div class="level-left event-card__start-time">
        <div class="event-card__date">
            <%= event.startTime.date + ' ' + event.startTime.month %>
        </div>
        <div class="event-card__time is-size-7">
            <%= event.startTime.time %>
        </div>
    </div>
    <div class="level-item">
        <%= event.name %>
    </div>
    <div class="level-right is-size-7 has-text-grey">
        <% if (event.isSpecial) { %>
        <div class="tag is-success">
            Special Event!
        </div>
        <% } %>
        <div>
            <a href="<%= event.link %>" target="_blank">
                <%= event.isRsvpOpen ? 'Sign up!' : 'More info' %>
            </a>
        </div>
    </div>
</div>
